$primary-color: #4CAF50;

body {
  background-color: $primary-color;

}

header {
  background-color: $primary-color;
  nav{
    padding: 20px;
    ul{
      li{
        text-decoration: underline
        }
      }
    }
  };

